<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>双向数据绑定</title>
    <script src="js/angular.min.js"></script>
    <script src="js/form.js"></script>
    <style>
        .red{background-color:red;}
        .blue{background-color:blue;}
        .green{background-color:green;}
        .yellow{background-color:greenyellow;}
    </style>
</head>
<body ng-app="form">
    <form ng-controller="userInfo">
        <p>邮箱：<input type="email" ng-model="userInfo.emal" ></p>
        <p>密码：<input type="password" ng-model="userInfo.pwd" ></p>
        <p><input type="checkbox" checked ng-model="userInfo.autoLogin" >自动登录</p>
        <!-- 键red 指向CSS样式名，值isRed指向scope属性，是boolean值。-->
        <!-- 如果值是true就将这个class名到添加到dom上 -->
         <p class="p1 {{color}}" ng-class="{red:isRed,blue:isBlue}" >
             <input type="button" value="获取表单值" ng-click="getFormData()"/>
             <input type="button" value="替换表单值" ng-click="setFormData()"/>
             <input type="button" value="恢复初始值" ng-click="reSet()"/>
             <input type="button" value="设置背景颜色" ng-click="setFontColor('green')"/>
             <input type="button" value="显示表达式颜色" ng-click="showColor()"/>
        </p>
        <button ng-click="toggle()">切换显示/隐藏</button>
        <div ng-show="toggle.boolean">
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        </div>
    </form>
</body>
</html>
